    <h1 style="text-align:center; 
        font-family: Arial, Helvetica;
    ">Reset Password</h1>
    
    <p style="font-family: Arial, Helvetica;">Hi, you have requested a password reset, click on the temporal link below. If the link expires, it would be necessary to request it again.</p>

    <a style="
        display:block; 
        font-family: Arial, Helvetica;
        padding: 1rem; 
        background-color: #00C897; 
        color:white; 
        text-transform:uppercase; 
        text-align:center;
        text-decoration: none;"
    href="{{resetUrl}}">Reset Password</a>
    
    <p style="font-family: Arial, Helvetica;">If you cannot access this link, visit: {{resetUrl}}</p>
    <p style="font-family: Arial, Helvetica;">If you not requested this email, you can ignore it</p>